<!DOCTYPE html>
<<<<<<< Updated upstream
<html>
<head>
  <title>Application Layout</title>
  <%= csrf_meta_tags %>
	<%= javascript_include_tag "application" %>
</head>
<body class="cool-background">

<%= yield %>
=======
<html lang="en">
  <head>
    <title>DietPlanner</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'custom' %>
    <%= javascript_include_tag 'application' %>

  </head>
  <body>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

>>>>>>> Stashed changes
</body>
</html>